/* General settings */
body {
    font-family: Merriweather;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 23px;

}

@layer flexbox {
    * :not(title) :not(html) :not(head) {
        display: flex;
    }
}


/* Header box */

.top {
    height: 84px;
    padding: 8px 150px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    justify-content: space-between;
    white-space: nowrap;
    box-shadow: 0px 8px 20px 5px #00000014;
}

.top div {
    cursor: pointer;
    position: relative;
}

.top div span:hover {
    text-decoration: underline;

}


.nav-menu {
    width: 702px;
    padding: 40px 24px;
}

.menu {
    align-items: center;
    width: 457px;
    padding: 8px;
    gap: 60px;

}

.blue-box {
    align-items: center;
    background-color: #020E35;
    width: 185px;
    height: 68px;
    padding: 0 24px
}

.contact {
    font-family: Merriweather;
    font-weight: 700;
    font-style: Bold;
    color: white;
    text-transform: uppercase;

}

.logo {
    align-self: center;
    justify-self: center;
    width: 127.87px;
    height: 41px;
}

/* Contact */


.part1 {
    height: 1008px;
    justify-content: space-between;


    top: 84.02px;
    padding-top: 300px;
    padding-right: 150px;
    padding-bottom: 200px;
    padding-left: 150px;
    /* background-color: black; */

}